/* MapsDrawer.module.css */
.drawer {
    position: fixed;
    top: 0;
    left: 0;
    width: 15%; /* Tailwind w-64 */
    height: 100%;
    z-index: 5;
    background-color: #1F2937; /* Tailwind gray-800 */
    color: white;
    transform: translateX(-100%); /* Hidden by default */
    transition: transform 300ms ease-in-out;
}

.drawerOpen {
    transform: translateX(0); /* Show drawer */
}


.content {
    padding: 1vh;
}

.entry {
    margin-top: 0.5vw; /* Tailwind mt-2 */
    display: flex;
    align-content: center;
}

.content ul {
    padding-left: 0;
}