
/* Responsive screen design */
.modalDialog {
    width: 83%;
    height: 100%;
    border: 2px black solid;
    left: 17%;

}

/* Styles for Phone Screens */
@media (min-width: 10px) and (max-width: 660px){
    .modalDialog {
        width: 70%;
        left: 30%;
    }
  }
  
  /* Styles for Tablets*/
  @media (min-width: 661px) and (max-width: 1400px) {
    .modalDialog {
        width: 80%;
        left: 20%;
    }
  }
  
  /* Styles for Laptops (min-width: 1366px) */
  @media (min-width: 1401px) {
    .modalDialog {
        width: 83%;
        left: 17%
    }
  }