.mapContainer {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: flex-end;
}

.mapDrawer {
  position: relative;
  top: 10px;
  left: 100px;
  z-index: 100;
}

.mapComponent {
    height: 100%;
    width: 100%;
}
