.dropdownToggle {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 10.85vw;
    overflow: auto;
}

.dropdownMenu {
    min-width: 10.85vw;
    text-align: left;
}

/* Responsive Screen Design */

/* Styles for Phone Screens */
@media (min-width: 10px) and (max-width: 460px){
    .dropdownToggle {
      font-size: x-small;
      min-width: 3vw;
      max-width: 10vw;
    }

    .dropdownMenu {
        font-size: x-small;
        min-width: 3vw;
        max-width: 10vw;
    }
  }
  
  /* Styles for Tablets*/
  @media (min-width: 461px) and (max-width: 1400px) {
    .dropdownToggle {
        font-size: small; /* Adjust width for tablet screens */
        max-width: 10vw;
    }

    .dropdownMenu {
        font-size: small; /* Adjust width for larger screens */
        max-width: 10vw;
      }
  }
  
  /* Styles for Laptops (min-width: 1366px) */
  @media (min-width: 1401px) {
    .dropdownToggle {
      font-size: medium; /* Adjust width for larger screens */
    }

    .dropdownMenu {
        font-size: medium; /* Adjust width for larger screens */
      }
  }