.card {
    width: 20vw;
    height: 21vh;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    border: black;
    border-style: solid;
    border-width: thin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 0px;
    overflow: hidden;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.062);
    background-color: white(228, 226, 226);
    z-index: 100;
    position: fixed;
    top: 0vh;
    left: 80vw;
  }

  .errorIcon {
    width: 7vh;
    height: 7vh;
  }
  
  #cookieSvg g path {
    fill: rgb(97, 81, 81);
  }
  
  .cookieHeading {
    font-size: 1.2em;
    font-weight: 800;
    color: rgb(26, 26, 26);
  }
  
  .cookieDescription {
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    color: rgb(99, 99, 99);
  }
  
  .buttonContainer {
    display: flex;
    gap: 20px;
    flex-direction: row;
  }
  
  .acceptButton {
    width: 6vw;
    height: 3vh;
    background-color: #7b57ff;
    transition-duration: .2s;
    border: none;
    color: rgb(241, 241, 241);
    cursor: pointer;
    font-weight: 600;
    border-radius: 20px;
    box-shadow: 0 4px 6px -1px #977ef3, 0 2px 4px -1px #977ef3;
    transition: all .6s ease;
  }
  
  .acceptButton:hover {
    background-color: #9173ff;
    box-shadow: 0 10px 15px -3px #977ef3, 0 4px 6px -2px #977ef3;
    transition-duration: .2s;
  }


/* Responsive screen design */

/* Styles for Phone Screens */
@media (min-width: 10px) and (max-width: 660px){
  .card {
    width: 40vw;
    height: 18vh;
    left: 60vw;
  }
  .errorIcon {
    height: 4.5vh;
    width: 4.5vh;
  }
  .cookieHeading {
    font-size: 0.75em;
    margin: 0.5vh;
  }
  .cookieDescription {
    font-size: 0.75em;
    margin-bottom: 0.3vh;
  }
  .acceptButton {
    width: 15vw;
    height: 3vh;
    font-size: 0.75em;
    margin: 0;
  }
}

/* Styles for Tablets*/
@media (min-width: 661px) and (max-width: 1400px) {
  .errorIcon {
    height: 6.5vh;
    width: 6.5vh;
  }
  .cookieHeading {
    font-size: 0.8em;
  }
  .cookieDescription {
    font-size: 0.8em;
  }
  .acceptButton {
    width: 5vw;
    height: 3vh;
    font-size: 0.85em;
  }
}

/* Styles for Laptops (min-width: 1366px) */
@media (min-width: 1401px) {

}