.btn {
    position: relative;
    display: flex; /* Changed from inline-block to flex */
    align-items: right; /* Centers content vertically */
    align-content: end;
    justify-content: right; /* Centers content horizontally */
    font-size: small;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.8em 2em;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: white;
    cursor: pointer;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

/* Responsive adjustments using media queries */

/* Styles for Phone Screens */
@media (min-width: 10px) and (max-width: 661px){
    .btn {
      font-size: xx-small; /* Small font for drawer*/
    }
  }
  
  /* Styles for Tablets*/
  @media (min-width: 661px) and (max-width: 1400px) {
    .btn {
        font-size: x-small; /* Adjust width for tablet screens */
    }
  }
  
  /* Styles for Laptops (min-width: 1366px) */
  @media (min-width: 1401px) {
    .btn {
      font-size: small; /* Adjust width for larger screens */
    }
  }